<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKC5zG3kXwskFWcoOtYX2-uOtF3CBoQAA</string>
	<key>GCM_SENDER_ID</key>
	<string>871678023262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.movilesii.alertacna</string>
	<key>PROJECT_ID</key>
	<string>proyectomoviles2-ee2fa</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectomoviles2-ee2fa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871678023262:ios:4c1d59969dc4ca9b9a06cf</string>
</dict>
</plist>